<a href="https://colab.research.google.com/github/nishant0708/PYTHON-LAB-ASSIGNMENT/blob/main/LAB_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [ ]:
a=5
b=8
c=15
d=8
print(a,b,c,d)
print("sum a and b is",a+b)
print("sub c and b is:",c-b)
print("div of a and c:",c/a)
print("mul of a and d :", a*d)
print ("rem of a and d:",d%a)
print("quotient of d/a is:",d//a)

if(a >b): print("a is greater than b")
if(a<d) : print("a is less than d")
if(b==d): print("b is equal to d")
if(b!=c) : print("b is not equal to c")
if(d>b or d>a):print("d is  greater than either a or b")
if(d>a and d==b): print("d and b is equal and greater than a")

5 8 15 8
sum a and b is 13
sub c and b is: 7
div of a and c: 3.0
mul of a and d : 40
rem of a and d: 3
quotient of d/a is: 1
a is less than d
b is equal to d
b is not equal to c
d is  greater than either a or b
d and b is equal and greater than a

Q2

In [ ]:
print("")
a=int(input("input number to check even or odd:"))
print("\n")
if (a%2==0):
    print(str(a)+" is even number")
else:
    print(str(a)+" is odd number")

Q3 (1)

In [ ]:
a=int(input("input number 1: \n"))
b=int(input("input number 2: \n"))

if(a>b):
    print(str(a)+" is greater than "+str(b))
else:
     print(str(b)+" is greater than "+str(a))

Q3 (2)

In [ ]:
a=int(input("input number 1: \n"))
b=int(input("input number 2: \n"))
c=int(input("input number 3: \n"))

if(a>b and a>c):
    print(str(a)+" is greater than "+str(b)+" "+str(c))
elif(b>a and b>c):
     print(str(b)+" is greater than "+str(a)+" "+str(c))

else:
   print(str(c)+" is greater than "+str(a)+" "+str(b))

Q4

In [ ]:
a=int(input("enter number: \n"))
x=False
if(a==1):
    print("composite number")
elif(a>1):
    for i in range(2,a):
           if(a%i==0):
            x=True
            break;

    if x:
     print("composite number")
    else:
     print("prime number")

Q5

In [ ]:
a=int(input("input range to check even or odd:"))
print("\n")
for i in range(1,a+1):
    if(i%2==0):
        print(str(i)+" is even")
    else:
         print(str(i)+" is odd")

Q6

In [ ]:
a=int(input("enter the number:"))
flag=True;

for i in range (1,a+1):
    if(i==1):
        print(i,"is a composite no.")
    elif(i>1):
        for x in range(2,i):
             if(i%x==0):
                flag=False
                break
    
        if(flag):
            print(i,"is a prime no.")
        else:
            print(i,"is a composite no.")

        flag=True

Q7

In [ ]:
a=int(input());
ans=0
while (a>0):
    z=a%10
    ans=ans*10+z
    a=a//10

print(ans)

Q8

In [ ]:
a=int(input());
t=a
ans=0
while (a>0):
    z=a%10
    ans=ans*10+z
    a=a//10

if(t==ans):
    print(t,"is a palindrome number")
else:
    print(t,"is not a palindrome number")

Q9

In [ ]:
a=int(input())
z=a
x=0
y=0
while(a>0):
     w=a%10
     x+=w**3
     a=a//10
if(x==z):
    print("arms")
else:
    print("no arms")

Q10

In [ ]:
a=int(input())


for i in range(1,a+1):
    order=len(str(i))
    x=0
    y=i
    while(y>0):
        z=y%10
        x+=z**order
        y=y//10
    if(x==i):
        print(i)

Q11

In [ ]:
a=int(input("enter number:"))
sum=0
for i in range(1,a+1):
    sum+=i
print(sum)

Q12

In [ ]:
x=int(input())
ans=1
while(x>0):
    ans*=x
    x=x-1
print(ans)

Q13

In [ ]:
n=int(input())
x=1
y=1
print(x)
print(y)

i=2

while(i<n):
    z=x+y
    print(z)
    x=y
    y=z
    i=i+1

Q14

In [ ]:
n=int(input("enter year"))

if(n%400==0 and n%100==0):
    print(n,"is a leap year")
elif(n%4==0 and n%100!=0):
        print(n,"is a leap year")
else:
        print(n,"is a not leap year")

Q15

In [ ]:
def f_to_c(a):
    temp=(a-32)*5
    return temp/9;

def c_to_f(a):
    temp=(a*9)/5
    return temp+32;

n=int(input("temp:"));
a=int(input("1 for c_to_f and 2 for f_to_c"))

if(a==1):
    print(c_to_f(n))
elif(a==2):
   print( f_to_c(n))

Q16

In [ ]:
def factors(a):
    print("factors of",a,"are")
    for i in range(1,a+1):
        if(a%i==0):
            print(i)
    
n=int(input("enter digit"))
factors(n)

Q17

In [ ]:
dec = 8

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

Q18

In [ ]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)

a=int(input())
z=fact(a)
print(z)

Q19

In [ ]:
def func(n):
    if(n<=1):
        return n
         
    else:
        return (func(n-1)+func(n-2))

n=int(input())
for i in range(1,n):
       print(func(i))

Q20

In [ ]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)

a=int(input())
z=fact(a)
print(z)

Q21

In [ ]:
def recur_sum(n):
   if n <= 1:
       return n
   else:
       return n + recur_sum(n-1)

num=int(input("Enter num:"))

if num < 0:
   print("Enter a positive number")
else:
   print("The sum is",recur_sum(num))

Q22

In [ ]:
def convertToBinary(n):
   if n > 1:
       convertToBinary(n//2)
   print(n % 2,end = '')

dec =int(input("enter digit:"))

convertToBinary(dec)
print()

Q23

In [ ]:
y=int(input())
x=lambda a:a**2
print(x(y))

Q24

In [ ]:
x=lambda r:3.14*r**2
y=lambda b,h:0.5*b*h
z=lambda r,h:3.14*r*r*h

a=int(input("enter radius:"))
print("area of circle is",x(a))

b=int(input("enter base:"))
h=int(input("enter height:"))
print("area of triangle:",y(b,h))

c=int(input("enter radius:"))
h=int(input("enter height:"))
print("volume of cylinder",z(c,h))

Q25

In [ ]:
mat1=[[1,5,7],
      [3,4,6],
      [5,10,5]
      ]   

mat2=[[9,12,1],
       [3,4,5],
       [3,9,8]]


result=[[0,0,0],
        [0,0,0],
        [0,0,0]]


for i in range(len(mat1)):
    for j in range(len(mat2[0])):
        result[i][j]=mat1[i][j]+mat2[i][j]


for x in result:
    print(x)

Q26

In [ ]:
mat1=[[1,5,7],
      [3,4,6],
      [5,10,5]
      ]   

mat2=[[9,12,1],
       [3,4,5],
       [3,9,8]]


result=[[0,0,0],
        [0,0,0],
        [0,0,0]]


for i in range(len(mat1)):
    for j in range(len(mat2[0])):
        for k in range(len(mat2)):
            result[i][j]+=mat1[i][k]*mat2[k][j]

    


for x in result:
    print(x)

Q27

In [ ]:
mat1=[[1,5,7],
      [3,4,6],
      [5,10,5]
      ]   



result=[[0,0,0],
        [0,0,0],
        [0,0,0]]


for i in range(len(mat1)):
    for j in range(len(mat1[0])):
        result[j][i]=mat1[i][j]


for x in result:
    print(x)

Q28

In [ ]:
x=list(range(1,11))
y=len(x)
z=0
for i in range(y):
    z+=x[i]
ans=z/y
print(ans)

Q29

In [ ]:
x=list(range(1,11))

print(x[2:6])

print(x[-4:-1])

Q30

In [ ]:
list1=["hello","yello","pello"]
list2=["gel","tell","mell"]
list3=list1+list2
print(list3)
list1.extend(list2)
print(list1)

Q31

In [ ]:
x=['hell','yell','pell','nell','sell','hell','pell']
y=input("enter element to find:")
z=False
count=[]
occ=0

for a in range(len(x)):
    if(x[a]==y):
        z=True
        count.append(a)
        occ=occ+1

if(z):
    print("yess at ",count,"occurence",occ)
else:
    print("noo")

Q32

In [ ]:
x=['hell','yell','pell','nell','sell','hell','pell']
y=input("enter element to find:")
z=False
count=[]
occ=0

for a in range(len(x)):
    if(x[a]==y):
        z=True
        count.append(a)
        occ=occ+1

if(occ>1):
    print("yess duplicates exist ")
else:
    print("noo duplicates exist")

Q33

In [ ]:
dicts={
    "car":"maruti",
    "color":"red"
    
}
for i in dicts.values():
    print(i)

for i in dicts.keys():
    print(i)

Q34

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

Q35

In [ ]:
dictionary = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child3" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child2" : {
    "name" : "Linus",
    "year" : 2011
  }
}
sorted_keys = sorted(dictionary.keys())
sorted_dict = {key:dictionary[key] for key in sorted_keys}
print(sorted_dict)

print(sorted(dictionary.items(), key=lambda kv:(kv[1], kv[0])))

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Linus', 'year': 2011}, 'child3': {'name': 'Tobias', 'year': 2007}}

TypeError: ignored